body {
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    transition: background-color 0.3s;
}

th {
    background-color: #f2f2f2;
}

tr.selected {
    background-color: #ffe6e6;
}

tr:hover {
    background-color: #f5f5f5;
}

p {
    color: #777;
}

strong {
    color: tomato;
}
